.project {
    width: 100%;
    margin-right: 35px;
    margin-bottom: 35px;
    overflow: hidden;
    display: block;
    position: relative;
}

.project:hover .mask {
    opacity: .9;
}

.mask {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ff8016!important;
    opacity: 0;
    z-index: 9;
    color: #fff;
    text-align: center;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.mask .info {
    display: block;
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.mask .info h3{
    margin-top: 80px;
    color: #fff!important;
}
.mask .btn-see-project {
    display: inline-block;
    margin-top: 30px;
    border: 1px solid #fff;
    padding: 9px 16px;
    border-radius: 3px;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .8px;
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.project:hover .mask {
    opacity: .9;
}

.thumbnail2 {
    display: block;
    padding: 10px;
    margin-bottom: 0px; 
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail2>img, .thumbnail2 a>img {
    margin-right: auto;
    margin-left: auto;
}

.thumbnail2>img, .thumbnail2 a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.texto-opiniones2{
    font-weight: bold;
    color: #fff !important;
}

.texto-opiniones2 h4{
    color:#fff!important;
}

.texto-opiniones3{
    color:#999!important;
}

.footer-destino{
    font-size: 15pt;
    padding-top: 30px;
}

.row-destino{
    margin-bottom: 0px!important;
}

.footer-precio {
    font-size: 27pt;
    color: #fe4618!important;
    font-weight: bold;
    margin-top: 15pt;
    text-align: right;
}

.costo_mask{
    color:#fff!important;
}

.btn-destino{
    cursor: pointer;
}

.btn-destino:hover{
    background-color: #fff;
    color:#ff8016;
}

.box-widget {
    border: none;
    position: relative;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.widget-user .widget-user-header {
    padding: 20px;
    height: 220px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
    background-color: #00a7d0 !important;
}

.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    color: #000;
}


.widget-user .widget-user-desc {
    margin-top: 0;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -65px;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.cuerpo_guias{
    margin-top: 250px;
}

.card-guias{
    padding: 15px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    text-align: justify;
}

.form-guias{
    padding-bottom: 0px;
}

.padding-ciudad{
    padding: 110px 0 30px 0px;
}

.padding-desc-ciudad{
    padding-top: 80px;
}

.fuente-desc-ciudad{
    font-size: 20pt;
}

.c-blanco-valoracion{
    color: #fff;
}

.div-filtros{
    margin-top: 50px;
}

.card-padre-destino{
    padding: 15px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    height: 600px;
    margin-bottom: 135px;
}

.card-destino{
    padding: 20px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-bottom: 15px;
}

.padding-right0{
    padding-right: 0px;
}

.padding-left0{
    padding-left: 0px;
}

.card-header{
    padding: 10px;
    padding-left: 15px;
    background: #fe4618;
    color: #fff;
}

.card{
    padding-bottom: 30px;
}

.form-check{
    padding-top:20px; 
}

.slidecontainer{
    padding-top: 20px;
}
.img-destino-nivel-i{
    height: 215px;
    width: 285px;
}
.cuerpo-img-destino-nivel-i{
    padding-bottom: 135px;
}
.contenedor-img-destino{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima-destino{
    position: absolute;
    top: 85%;
    /* left: 41%; */
    color: #fff;
    font-weight: bold;
    font-size: 20pt;
    text-align: right!important;
}
.texto-mask-destino{
    text-align: left!important;
}
.texto-mask-destino-inf{
    text-align: right!important;
}
.mask-destino{
    padding: 20px;
    padding-top: 0px;
}