.titulo-blanco-bold{
    color: #fff;
    font-weight: bold;
}

.subtitulos-blanco{
    color: #fff !important;
}
.boton1{
    background-color: transparent !important;
    color: #fff !important;
    font-weight: bold !important;
    text-decoration: none;
}
.titulo-azul-bold{
    color: #00b3e3 !important;
    font-weight: bold;
}
.c-naranja-oscuro{
    color:#FF3300;
}
.c-gris1{
    color: #808080 !important;
}
.p-left-0{
    padding-left: 0 !important;
}
.texto-costo{
    font-size: 20pt;
}
.padding0{
    padding: 0px;
}
.texto-cards{
    text-align: justify;
    padding-top: 10px;
    color: #555;
    font-weight: 200;
}
.texto-opiniones{
    font-weight: bold;
    color: #00b3e3 !important;
}
.img-card{
    width: 288px !important;
    height: 188px !important;
}
.tamano_slide{
    width:100%;
    height:400px;
}
.texto_parallax {
    margin: 0 auto;
    color: #fff;
}
.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.g-bg-black-opacity-0_6--after::after {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
/*.thumbnail:hover{
    width: 100%;
    height: 100%;
    background-color: #FF3300;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}*/
/*#00b3e3 azul
#febf32 naranja-amarillo
#FF3300 naranja oscuro*/
