<div class="moto-widget moto-widget-row row-fixed" data-widget="row">
    <div class="container-fluid">
        <div class="moto-cell col-sm-12" data-container="container">
            <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
                <div class="moto-widget-spacer-block" style="height:30px"></div>
            </div>
            <div data-animation="fadeIn" class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa">
                <div class="moto-widget-text-content moto-widget-text-editable">
                    <p style="text-align: center;" class="moto-text_system_3">About Travel Guide<br></p>
                </div>
            </div>
            <div class="moto-widget moto-widget-row" data-widget="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-1" data-container="container"></div>
                        <div class="moto-cell col-sm-10" data-container="container">
                            <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
                                <div class="moto-widget-spacer-block" style="height: 5px;"></div>
                            </div>
                            <div data-animation="fadeIn" class="moto-widget moto-widget-text moto-preset-default                         wow fadeIn moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
                                <div class="moto-widget-text-content moto-widget-text-editable">
                                    <p style="text-align: center;" class="moto-text_system_9">
                                        <span class="moto-color5_4">
                                            Thanks to many years of experience, high professionalism of employees and mutual respect policy vis-à-vis clients and partners, the company has earned the trust and credibility among travel agencies, and private clients
                                        </span><br>
                                    </p>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-spacer moto-preset-default                                                moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="masa">
                                <div class="moto-widget-spacer-block" style="height: 0px;"></div>
                            </div>
                        </div>
                        <div class="moto-cell col-sm-1" data-container="container"></div>
                    </div>
                </div>
            </div>
            <div class="moto-widget moto-widget-row" data-widget="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-6" data-container="container">
                            <div class="moto-widget moto-widget-row" data-widget="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="moto-cell col-sm-9" data-container="container">
                                            <div data-animation="fadeInLeft" class="moto-widget moto-widget-text moto-preset-default                      wow fadeInLeft moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p style="text-align: right;" class="moto-text_system_8">
                                                        <a class="moto-link" data-action="url" target="_self" data-cke-saved-href="#" href="#">MISSION</a><br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div data-animation="fadeInLeft" class="moto-widget moto-widget-text moto-preset-default wow fadeInLeft moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p style="text-align: right;" class="moto-text_normal">
                                                        Our clients are our greatest value. We are proud that our clients recommend us to their friends, relatives and acquaintances. We, in turn, are doing our utmost to make your rest positive and memorable, try to provide everything necessary to make you feel confident during.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moto-cell col-sm-3" data-container="container">
                                            <div data-widget-id="wid__image__5b8743372b4e9" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  wow fadeInLeft" data-widget="image">
                                                <span class="moto-widget-image-link">
                                                    <i class="pi pixicon-browser"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
                                <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                            </div>
                        </div>
                        <div class="moto-cell col-sm-6" data-container="container">
                            <div class="moto-widget moto-widget-row" data-widget="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="moto-cell col-sm-3" data-container="container">
                                            <div data-widget-id="wid__image__5b8743372b77b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  wow fadeInRight" data-widget="image">
                                                <span class="moto-widget-image-link">
                                                    <i class="pi pixicon-browser"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="moto-cell col-sm-9" data-container="container">
                                            <div data-animation="fadeInRight" class="moto-widget moto-widget-text moto-preset-default                      wow fadeInRight moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_system_8"><a class="moto-link" data-action="url" target="_self" data-cke-saved-href="#" href="#">AWARDS</a><br></p>
                                                </div>
                                            </div>
                                            <div data-animation="fadeInRight" class="moto-widget moto-widget-text moto-preset-default                       wow fadeInRight moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_normal">During the work the company has received many awards: the absolute Favourite of Olympus in the nomination "The New Quality of Life"; received the award in the nomination "Bus Tours of the Year" at the international the contest "Choice of the Year".<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
                                <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moto-widget moto-widget-row" data-widget="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-6" data-container="container">
                            <div class="moto-widget moto-widget-row" data-widget="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="moto-cell col-sm-9" data-container="container">
                                            <div data-animation="fadeInLeft" class="moto-widget moto-widget-text moto-preset-default                      wow fadeInLeft moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p style="text-align: right;" class="moto-text_system_8"><a class="moto-link" data-action="url" target="_self" data-cke-saved-href="#" href="#">PRINCIPLES</a><br></p>
                                                </div>
                                            </div>
                                            <div data-animation="fadeInLeft" class="moto-widget moto-widget-text moto-preset-default                       wow fadeInLeft moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p style="text-align: right;" class="moto-text_normal">Creation of each route is brought to the ideal. In creating tours and combination of routes experienced guides, responsible managers, and our CEO are involved. Groups of tourists are escorted by only experienced and erudite guides specializing in several countries.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moto-cell col-sm-3" data-container="container">
                                            <div data-widget-id="wid__image__5b8743372b9ee" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  wow fadeInLeft" data-widget="image">
                                                <span class="moto-widget-image-link">
                                                    <i class="pi pixicon-browser"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
                                <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                            </div>
                        </div>
                        <div class="moto-cell col-sm-6" data-container="container">
                            <div class="moto-widget moto-widget-row" data-widget="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="moto-cell col-sm-3" data-container="container">
                                            <div data-widget-id="wid__image__5b8743372bc50" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  wow fadeInRight" data-widget="image">
                                                <span class="moto-widget-image-link">
                                                    <i class="pi pixicon-browser"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="moto-cell col-sm-9" data-container="container">
                                            <div data-animation="fadeInRight" class="moto-widget moto-widget-text moto-preset-default                      wow fadeInRight moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_system_8"><a class="moto-link" data-action="url" target="_self" data-cke-saved-href="#" href="#">HISTORY</a><br></p>
                                                </div>
                                            </div>
                                            <div data-animation="fadeInRight" class="moto-widget moto-widget-text moto-preset-default                       wow fadeInRight moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_normal">This year we celebrated 32 years. During this time we have developed many new tourism projects, created dozens of unique travel products and are not resting on our laurels. We have earned the trust of thousands of tourists who have traveled with us.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
                                <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moto-widget moto-widget-spacer moto-preset-default                                                 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="sama">
                <div class="moto-widget-spacer-block" style="height: 5px;"></div>
            </div>
        </div>
    </div>
</div>